@{
    ViewData["Title"] = "About";
}



<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>PETS ARE GREAT I LOVE THEM ALLLLLLLLLLLLLLLLLLLLLLLLL</p>
<p>
    <img src="~/images/petswithvets.jpg" />

</p>
