@{
    ViewData["Title"] = "Contact";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    24 Bow Wow Way<br />
    Fluffy Town, ON <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<p>
    <img src="~/images/cutepets.jpg" />

</p>


