@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                font-size: 400%;
            }
            .doggy{
                 position:absolute;
                 top: 70%;
                 left: 50%;
                 margin-right: -30%;
                 transform: translate(-50%, -50%)
                

            }
            footer{
                 position:absolute;
                 top: 96%;
                 left: 50%;
                 margin-right: -30%;
                 transform: translate(-50%, -50%)

            }

            
        </style>
    </head>
    <body>



        <h1> Happy Buddys Pet Food Store </h1>


        <div class="col-md-3">
            <h2>Pet Care</h2>
            <ul>
                <li> <a href="https://youtu.be/ymxEmbALjIo"> How to wash your cat</a> </li>

            </ul>
        </div>
        <div class="col-md-3">
            <h2> Pets Health</h2>
            <ul>
                <li> <a href="https://youtu.be/DCmaoBujsAI"> 10 Mistakes That Shorten Your Pet's Life</a></li>
                <li> <a href="https://pets.webmd.com/dogs/guide/diet-nutrition"> Diet & Nutrition</a> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2> Fun Games</h2>
            <ul>
                <li> <a href="https://cat-bounce.com/"> Cat Bounce</a> </li>
            </ul>
        </div>
        <p>
            <img src="~/images/giphy.webp" alt="Doggy" class="doggy"  width="300" height="300"/>

        </p>
         
    </body>
    
</html>